{
  "presets": [
    [
      "next/babel",
      {
        "styled-components": {
          "plugins": ["styled-components"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "@"
      }
    ]
  ]
}
